/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
}
.header {
    background-color:#7AB2D3;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    ;
  }
  
  .header nav a {
    color: white;
    padding : 20px;
    text-decoration: none;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 1;
}

.sidebar h2 {
    margin-top: 0;
    color: #f0f8ff;
}

.sidebar button {
    margin-top: 20px;
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #45a049;
}

/* Open button styling */
.open-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open-btn:hover {
    background-color: #45a049;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.quiz-area {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.drop-zone {
    width: 150px;
    height: 150px;
    border: 2px dashed #4a90e2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4a90e2;
    font-weight: bold;
    position: relative;
}

.drop-zone img {
    width: 100%;
    max-width: 100px;
}

.draggable-items {
    margin: 20px 0;
}

.draggable {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}
